/* src/components/Footer/Footer.css */
.footer {
  padding: 2rem;
  background-color: #111827;
  color: white;
  text-align: center;
}

.footer-links span {
  display: block;
  margin: 1rem 0;
}

.footer-contact p {
  margin: 0.3rem 0;
}
