/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Push footer to bottom */
  padding-top: 80px; /* Adjust if Navbar is fixed */
}

/* Common link styles */
a {
  color: inherit;
}
